alembic==1.16.3
annotated-types==0.7.0
asyncpg==0.30.0
bcrypt==4.0.1
dotenv==0.9.9
fastapi==0.116.0
greenlet==3.2.3
passlib==1.7.4
pydantic==2.11.7
pydantic-settings==2.10.1
PyJWT==2.10.1
python-dotenv==1.1.1
python-multipart==0.0.20
python-slugify==8.0.4
SQLAlchemy==2.0.41
starlette==0.46.2
urllib3==2.5.0
uvicorn==0.35.0